.search-bar {
    padding: 70px 0;
}

.search-bar__input {
    padding: 6px;
    border: 1px solid grey;
    border-radius: 6px;
    color: #333;
    min-width: 40vw;
    font-size: 2.2em;
    text-align: center;
}

.pronounciation {
    display: inline-block;
    margin: 20px;
}
